@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Quicksand', sans-serif;
}

/* Home */
.card {
    margin: 0 auto;
    margin-bottom: 20px;
}
/* Animation mobile menu */
#navigation {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 50px;
    padding-top: 125px;
}
#menu li {
    padding-top: 20px;
    font-weight: 300;
    color: #313131;
    font-size: 24px;
    line-height: 29px;
}
#menu li a:hover {
    text-decoration: underline;
}
#navbar__mobile__menu {
    position: fixed;
    right: 0;
    margin-right: 25px;
    z-index: 99;
}
#navigation button {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}
#navigation button:hover {
    background-color: white;
    border: 1px solid #92cdb9;
    color: #92cdb9;
}

/* contact */
.contact__crew {
position: relative;
}
.contact__illustration {
    position: absolute;
    right: -10%;
    top: 2.9%;

    z-index: -1;

    display: flex;
    flex-direction: column;
}

.contact__illustration__border {
    width: 150px;
    height: 20px;
    align-self: flex-end;

    border-top: 4px solid #92cdb9;
    border-bottom: 4px solid #92cdb9;
    border-left: 4px solid #92cdb9;
}
.contact__illustration__background {
    width: 220px;
    height: 150px;
}