@import url("https://fonts.googleapis.com/css?family=Bitter:700");
.highlightOrange {
  display: inline-block;
  color: #e88746;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.highlightOrange::after {
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 0px;
  background-color: #e88746;
  transition: all 250ms;
}
.highlightOrange:hover {
  color: white;
}
.highlightOrange:hover::after {
  height: 105%;
  width: 105%;
}

.highlightBlack {
  display: flex;
  color: #313131;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.highlightBlack::after {
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 0px;
  background-color: #e88746;
  border-radius: 40px;
  transition: all 250ms;
}
.highlightBlack:hover {
  color: white;
}
.highlightBlack:hover::after {
  height: 110%;
  width: 110%;
}

.gradient {
  display: block;
  position: relative;
}
.gradient:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(90deg, #92cdb9, rgba(146, 205, 185, 0));
  opacity: 1;
  transition: all 0.5s;
}
.gradient:hover:after {
  opacity: 1;
  width: 100%;
}


.HeightUrban {
  height: 550px;
}

/* Carousel --Project */
.swiperProject {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.swiperProject .swiper-slide img {
  width: auto;
  height: auto;
  max-height: 95vh;
  max-width: 100%;
}

/* Carousel --Project */
.swiperBanner {
  width: 100%;
  height: auto;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}

